<%= link_to 'New Laborer', new_warehouse_department_laborer_path, class: "btn btn-primary" %>

<% @laborers.each do |laborer| %>
  <% cache laborer do %>
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <%= link_to laborer.full_name, warehouse_department_laborer_path(laborer) %>
      </div>
    </div>
    <br>
  <%end %>
<% end %>
