<h3 class="title-up"> Accounting Section </h3>
<%= @savings_account.liability_account_name %>
<%= @savings_account.interest_expense_account_name %>

<div class="card-body">
  <div class="row">
    <div class="col-md-9">
      <h3 class="card-title">Balance Transfer </h3>
      <p class="text-muted"> Transfer balance to other savings accounts. </p>
    </div>
    <div class="col-md-3">
      <% if policy([:savings_accounts, :balance_transfer]).new? %>
        <%= link_to 'Balance Transfer', new_savings_account_balance_transfer_path(origin_saving_id: @savings_account.id), class: "btn btn-outline-danger" %>
      <% else %>
        <span class="text-danger"> Only your Accountant / Bookkeeper can do this action. </span>
      <% end %>
    </div>
  </div>
</div>