
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"> Barangays </h3>
        <p class="text-muted"> Migrate Barangays from your Excel spreadsheet </p>
      </div>
      <div class="card-body">
        <%= simple_form_for @barangays_import, url: :barangays_imports do |f| %>
          <div class="row">
            <div class="col-md-4">
              <%= f.input :cooperative_id, input_html: {value: current_cooperative.id}, as: :hidden %>
            </div>
            <div class="col-md-4">
              <%= f.input :file, as: :file, label: false, input_html: { class: 'choose-btn center-block' } %>
            </div>
            <div class="col-md-4">
              <a href="" class="btn btn-outline-danger float-right" id="browse">Import Barangays</a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#browse').click(function(e) {
    $('#barangays_imports_processing_file').click();
    e.preventDefault();
    e.stopPropagation();
    $('#barangays_imports_processing_file').change(function() {
      var val = $('#barangays_imports_processing_file').val();
      if (val != ''){
        $('#new_barangays_imports_processing').submit();
      }
    });
  });
</script>