
<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="box-header">
         <ul class="nav nav-tabs">
          <li class="<%= 'active' if current_page? loans_module_member_borrowers_path%>"><%= link_to 'Members', loans_module_member_borrowers_path %></li>
        </ul>
      </div>
      <div class="box-body tab-content">
        <% if current_page? loans_module_member_borrowers_path %>
          <%= rpender 'loans_module/borrowers/partials/members' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

