
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <center>
          <%= image_tag(@membership.avatar.url(:medium), height: 60, width: 60, class: "img-circle") %>
          <h4><%= @membership.cooperator_name %></h4>
        </center>
      </div>
    <div class="card-body">
      <h4>Share Capitals</h4>
      <hr>
      <h4>Savings</h4>
      <hr>
      <h4>Loans</h4>
      <hr>

      <% if @membership.cooperator.is_a?(Member) %>
      <%= link_to "View Profile", member_path(@membership.cooperator), class: "btn btn-primary" %>
      <% elsif @membership.cooperator.is_a?(User) %>
      <%= link_to "View Profile", employee_path(@membership.cooperator), class: "btn btn-primary" %>

      <% end %>
