<div class="row">
  <div class="col-md-4">
    <div class="box box-solid">
      <div class="box-body">
  <% @suppliers.each do |supplier| %>
    <% cache supplier do %>
      <%= link_to warehouse_department_supplier_path(supplier) do %>
        <div class="row">
          <div class="col-md-2">
            <%= image_tag(supplier.avatar.url(:medium), class: "img-circle", height: 45, width: 45) %>
          </div>
          <div class="col-md-6">
            <b class="text-muted"><%= supplier.full_name %></b>
          </div>
          <div class="col-md-4">
            <span class="text-muted"><%=supplier.raw_material_stocks.sum(&:quantity) %></span>
          </div>
        </div>
        <br>
      <% end %>
    <% end %>
  <% end %>
