<div class="row">
  <div class="col-md-12">
    <div class="nav-tabs-custom">

      <ul class="nav nav-tabs">
        <div class="row">
          <div class="col-md-6">
            <h3> &nbsp; &nbsp; <%=image_tag(@supplier.avatar.url(:medium), class: "img-circle") %> <%= @supplier.full_name.try(:upcase)%></h3>
          </div>
          <div class="col-md-5">
            <br>
            <span class="pull-right"> <%=link_to 'New Delivery', new_warehouse_department_laborer_path, class: "btn btn-sm btn-primary" %></span>
          </div>
        </div>
          <br>
        <li><a href="#loans" data-toggle="tab">Information</a></li>
        <li><a href="#savings" data-toggle="tab">Deliveries</a></li>
        <li><a href="#time-deposit" data-toggle="tab">Account</a></li>
      </ul>
      <div class="tab-content">
        <%#=render 'members/partials/loans', member: @member %>
    </div>
  </div>
</div>
