<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-8">
            <h3 class="box-title">Proposed Budgets Actual Expenses </h3>
          </div>
          <div class="col-md-4">
            <% if policy([:management_module, :account_budget]).new? %>
              <%= link_to 'Set Expense Budget', new_management_module_account_budget_path, class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="card-body">
        <% actual_expenses_data = [] %>
          <% @expenses.each do |expense| %>
            <% actual_expenses_data << { expense.name => expense.credits_balance } %>
          <% end %>

        <% proposed_expenses_budgets_data = [] %>
         <% @expenses.each do |expense| %>
            <% proposed_expenses_budgets_data << { expense.name => expense.current_account_budget.try(:proposed_amount) } %>
          <% end %>
          
        <%= bar_chart [
          {name: "Actual Expenses", data: (Hash[*actual_expenses_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?}) },
          {name: "Proposed Budget", data: (Hash[*proposed_expenses_budgets_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?}) }
        ], curve: false, thousands: ",", height: "3000px" %>
      </div>
    </div>
  </div>
</div>
