<div class="card">
  <div class="card-body">
    <%= link_to 'Print Employee Info', employee_info_index_path(@employee, format: 'pdf') %>
      <% if @employee.cash_on_hand_account.present? %>
          <h3><%= number_to_currency @employee.cash_on_hand_account_balance %></h3>
          <small class="text-muted"><%= @employee.cash_on_hand_account.try(:name).try(:upcase)%></small><br>
          <%=link_to 'View Transactions', accounting_module_account_path(@employee.cash_on_hand_account), class: "btn btn-default btn-xs" %>
          <hr>
      <% end %>
    </div>
  </div>
