<div class="tab-pane <%= 'active' if current_page?(employee_loans_path(@employee))%>">
   <small>ACCOUNTS RECEIVABLE (STORE)</small>
  <h3 class="box-title"><%=number_to_currency @employee.accounts_receivable_gen_merchandise_total %></h3>
  <hr> 
</div>