<div class="tab-pane <%= 'active' if current_page?(employee_savings_accounts_path(@employee))%>">
  <% if policy([:employees, :savings_account]).new? %>
    <%= link_to 'Open Savings Account', new_employee_savings_account_path(@employee) %>
  <% end %>
  <hr>
  <% if @employee.savings.present? %>
    <% @employee.savings.each do |saving| %>
      <%=link_to savings_account_url(saving) do %>
        <%= saving.balance %>
      <% end %>
    <% end %>
  <% end %>
  </div>
