<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <% if policy([:employees, :savings_account]).new? %>
          <%= link_to 'New Savings Account', new_savings_account_application_path(depositor_id: @employee.id, depositor_type: @employee.class.to_s), class: "btn btn-primary float-right" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
    <% if @employee.savings.present? %>
      <% @employee.savings.each do |savings_account| %>
        <%= render 'savings_accounts/partials/header', savings_account: savings_account %>
      <% end %>
    <% end %>
