<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-9">
        <h3 class="card-title">Cash Accounts</h3>
        <p class="text-muted"> Set cash accounts for this employee. </p>
      </div>
      <div class="col-md-3">
        <%= link_to 'Set Account', new_employee_cash_account_path(@employee), class: "btn btn-outline-danger", data: {modal: true} %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <table class="table">
          <tbody>
            <% @employee.employee_cash_accounts.each do |account| %>
              <tr>
                <td><%= account.name %></td>
                <td><%= link_to 'Remove', employee_cash_account_path(id: account.id, employee_id: @employee.id), method: :delete, class: 'btn btn-outline-danger btn-xs' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
