<div class="row">
  <div class="col-md-4">
    <div class="box box-solid">
      <div class="box-body">
        <% @employees.each do |employee| %>
          <% cache employee do %>
            <%= link_to management_department_employee_path(employee) do %>
              <div class="row">
                <div class="col-md-3">
                  <%=image_tag(employee.avatar.url(:thumb), class: "img-circle", height: 50, width: 50) %>
                </div>
                <div class="col-md-6">
                  <b><%= employee.first_and_last_name %></b><br>
                  <small class="text-muted"><%=employee.role.titleize %></small>
                </div>
              </div>
              <br>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>