<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <%#=link_to(image_tag(current_user.avatar.url(:small), class: "img-circle", width: 40, height: 40), user_path(current_user)) %>
        </div>
        <div class="pull-left info">
          <p><%#=link_to current_user.first_name, bplo_section_settings_user_path(current_user) %></p>
          <a href="#"><i class="fa fa-circle text-success"></i> <small><%#=current_user.role %></small></a>
        </div>
      </div>
      <!-- search form -->
      <%#=form_tag accounting_accounts_path, method: :get, class: "sidebar-form" do %>
      <div class="input-group">
        <%#= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search..." %>
        <span class="input-group-btn">
          <%#= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
            <i class="fa fa-search"></i>
          <%# end %>
        </span>
      </div>
    <%# end %>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
          <li class="header"> TELLER SECTION </li>
          <!-- <li><a href="/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li> -->
          <li class=<%= 'active' if current_page?(teller_module_members_path) %> ><a href="/teller_module/members"><i class="fa fa-users"></i> <span> Members</span></a></li>
          <li class=<%#= 'active' if current_page?(teller_module_savings_path) %> ><a href="/teller_module/savings_accounts"><i class="fa fa-database"></i> <span>Savings </span></a></li>
          <li class=<%#= 'active' if current_page?(teller_module_share_capitals_path) %> ><a href="/teller_module/share_capitals"><i class="fa fa-pie-chart"></i> <span>Share Capitals </span></a></li>
          <li class=<%#= 'active' if current_page?(teller_module_time_deposits_path) %> ><a href="/teller_module/time_deposits"><i class="fa fa-database"></i> <span>Time Deposits </span></a></li>
          
          <li class="header"> REPORTS </li>
          <li class=<%#= 'active' if current_page?(teller_module_savings_path) %> ><a href="/teller_module/entries"><i class="fa fa-database"></i> <span>Entries </span></a></li>
          <li class="header"> SETTINGS </li>
          <li class=<%#= 'active' if current_page?(teller_module_time_deposits_path) %> ><a href="/teller_module/saving_products"><i class="fa fa-database"></i> <span>Saving Products</span></a></li>
    </section>
    <!-- /.sidebar -->
  </aside>
