<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <%=form_tag employees_path, method: :get, class: "sidebar-form" do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Employee", id: 'taxpayer-search-form' %>
            <span class="input-group-btn">
              <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
                <i class="fa fa-search"></i>
              <% end %>
            </span>
          </div>
        <% end %>
      </div>
    </div>
    <% @employees.each do |employee| %>
      <% cache employee do %>
        <%= render 'employees/partials/header', employee: employee %>
      <% end %>
    <% end %>
  </div>
</div>
