<%= form_tag banking_agent_module_utility_bills_path, method: :get, class: "search-form" do %>
            <div class="input-group">
              <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Account Number", id: 'account-search-form' %>
              <span class="input-group-btn">
                <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-outline-secondary") do %>
                  <i class="fa fa-search"></i> Search Account
                <% end %>
              </span>
            </div>
          <% end %>

<% if @utility_bills.present? %>
  <% @utility_bills.each do |utility_bill| %>
    <%= link_to utility_bill.description, banking_agent_module_utility_bill_path(utility_bill) %>
  <% end %>
<% else %>
  No Utility Bills found. Search
<% end %>