<div class="modal-header">
  <%= image_tag(@employee.avatar, width: 45, height: 45, class: "img-circle") if @employee.avatar.attached? %>
  
  <h4 class="modal-title card-title" id="mainModalLabel" style="margin-left: 10px">
    <%= @employee.name %>
  </h4>
  <button type="button" class="close float-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
</div>