
<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-3">
        <h3 class="card-title"> Barangays </h3>
      </div>
      <div class="col-md-6">
      </div>
      <div class="col-md-3">
        <%= link_to 'New Barangay', new_cooperative_barangay_path(current_cooperative), class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>

<% @barangays.each do |barangay| %>
  <%= render 'barangays/partials/header', barangay: barangay %>
<% end %>
  
