<div class="card">
	<div class="card-header">
		<div class="card-title">
			<h4 class="card-title">Settings</h4>
		</div>
	</div>
	<div class="card-body">
		<div class="row">
      <div class="col-md-9">
        <h4 class="card-title">Archive Loans</h4>
        <p class="text-muted">
          Archive loans that are paid.
        </p>
      </div>
      <div class="col-md-3">
        <%= link_to 'Archive Loans', new_loans_module_settings_archive_path, class: "btn btn-sm btn-outline-danger float-right" %>
      </div>
    </div>
	</div>
</div>