<div class="card">
  <div class="card-header">
    <h4 class="card-title">Filter Options</h4>
  </div>
  <div class="card-body">
    <%= form_tag({:action => "index", controller: "/accounting_module/entries/journal_entry_vouchers"}, {:method => :get})  do %>
      <%= render 'accounting_module/entries/partials/date_filters/inputs' %>
    <% end %>
  </div>
</div>