<% content_for(:html_title) { "Withdrawal Transaction | #{@savings_account.depositor_name}" } %>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Savings Account Closing Details </h3>
      </div>
      <div class="card-body">
        <%= render 'vouchers/partials/alert_message', voucher: @voucher %>

        <%= render 'vouchers/partials/body', voucher: @voucher %>
        <hr>
        <% if @voucher.accounting_entry.blank? %>
          <% if current_user.can_disburse?(voucher: @voucher) %>
            <%= link_to "Confirm", savings_account_voucher_confirmations_path(savings_account_id: @savings_account.id, voucher_id: @voucher.id), method: :post, class: "btn btn-primary float-right", data: { disable_with: "Processing..." } %>
          <% end %>
          <%= link_to "Cancel", savings_account_deposit_voucher_path(savings_account_id: @savings_account.id, voucher_id: @voucher.id), method: :delete, class: "btn text-danger float-left" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
