<!-- Brand Logo -->
    <a href="/" class="brand-link">
      <% if current_cooperative.logo.attachment.present? %>
        <%#= image_tag(current_locality.logo, class: "brand-image img-circle elevation-1") %>
      <% end %>
      <span class="brand-text font-weight-light"><%= current_cooperative.abbreviated_name %></span>
    </a>
