<!-- Brand Logo -->
    <a href="/" class="brand-link">
      <%= image_tag(current_cooperative.logo, class: "brand-image img-circle elevation-1") if current_cooperative.logo.attached? %>
      <span class="brand-text font-weight-light"><%= current_cooperative.abbreviated_name %></span>
    </a>
