<footer class="main-footer">
  <div class="float-right hidden-xs">

    <b><small>CoopCatalyst</small></b>
    <i class="far fa-facebook mr-2"></i>
    <i class="fa fa-twitter"></i>

  </div>
  <strong>Your Technology Partner <a href="http://facebook.com/itworx">Catalyst Labs, Inc.</a></strong> Enjoy the rest of your <%= Time.zone.now.strftime("%A") %>, <b><%= current_user.first_name %></b>.

</footer>
