
<!-- Sidebar -->
<div class="sidebar">
  <!-- Sidebar user panel (optional) -->
  <div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
      <%#=image_tag(current_user.avatar, height: 45, width: 45, class: "img-circle") if current_user.avatar.attached? %>
    </div>
    <div class="info">
      <a href="#" class="d-block"><%#= link_to current_member_account.email, member_account_path(current_member_account) %></a>
    </div>
  </div>

  <!-- Sidebar Menu -->
  <nav class="mt-1">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->

    </ul>
  </nav>
  <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
