<div class="content">
  <div class="row">
    <% User.all.order(:role).each do |employee| %>
        <div class="col-md-3">
          <div class="box box-solid">
            <div class="box-body">
              <center>
                <%=image_tag(employee.avatar.url(:medium), height: 90, width: 90, class: "img-circle") %>
                <h3 class="box-title"><%= employee.first_and_last_name %></h3>
                <p class="text-muted"><%= employee.role.titleize %></p>
              </center>
              
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>