<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-3">
        <h3 class="card-title"> All Entries </h3>
        <% if @from_date && @to_date %>
          <p class="text-muted"> <%= @from_date.strftime("%B %e, %Y") %> - <%= @to_date.strftime("%B %e, %Y") %></p>
        <% end %>
      </div>
      <div class="col-md-6">
        <%= render 'accounting_module/entries/search_filter' %>
      </div>
      <div class="col-md-3">
        <%= link_to "New Entry", new_accounting_module_entry_line_item_path, class: "btn btn-primary float-right" %>
      </div>
    </div>
  </div>
</div>
