<div class="card">
  <div class="card-body">
    <ul class="nav nav-tabs nav-pills">
      <% current_cooperative.users.each do |user| %>
        <li class="nav-item">
          <%= link_to accounting_module_per_employee_entries_path(recorder_id: user.id), class: "nav-link" do %>
            <span title="<%= user.role.titleize %>" data-toggle="tooltip"> <%= image_tag(user.avatar, height: 45, width: 45, class: "img-circle") %></span><br>
            <small><center><%= user.first_name %></center></small>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%#{'active' if current_page?(accounting_module_per_employee_entries_path(recorder_id: user.id))} %>