<div class="card">
	<div class="card-body">
		<%= @account.name %>
		<h3 class="card-title">
		  <%= number_to_currency @account.balance %>
		</h3>
		<span title="Last Transaction Date" data-toggle="tooltip"><%= @account.last_transaction_date %></span>
	</div>
</div>
