<div class="card">
  <div class="card-header">
    <h3 class="card-title"> Time Deposits </h3>
  </div>
  <div class="card-body">
    <div class="col-md-12">
      <%=form_tag time_deposits_path, class: "sidebar-form", method: :get do %>
        <div class="input-group">
          <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Depositor, Account Number", id: 'account-search-form' %>
          <span class="input-group-btn">
            <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
              <i class="fa fa-search"></i>
            <% end %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% @time_deposits.each do |time_deposit| %>
  <%= render 'time_deposits/partials/header', time_deposit: time_deposit %>
<% end %>

