<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="box-body">
        <div class="row">
          <div class="col-md-4 border-right">
            <small> CASH ON HAND </small>
            <h2> <%= number_to_currency @cash_on_hand.balance %></h2>
          </div>
          <div class="col-md-4 border-right">
            <small> CASH IN BANK </small>
            <h2> <%= number_to_currency @cash_on_hand.balance %></h2>
          </div>
          <div class="col-md-4">
            <small> PETTY CASH FUND </small>
            <h2> <%= number_to_currency @cash_on_hand.balance %></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="box box-solid">
      <div class="box-header">
        Revenues
      </div>
      <div class="box-body">
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="box box-solid">
      <div class="box-header">
        Expenses
      </div>
      <div class="box-body">
      </div>
    </div>
  </div>
</div>
