<div class="modal-header">
  <h4 class="modal-title card-title" id="mainModalLabel">
    Contact Details
  </h4>
  <button type="button" class="close float-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
</div>
<div class="modal-body">
  <%= render 'members/partials/form_header' %>
</div>
<hr class="no-margin">
<%= simple_form_for [@member, @contact], url: :member_contacts, html: { autocomplete: "off" } do |f| %>
  <div class="modal-body">
    <%= f.input :number, as: :string, label: "Contact Number" %>
  </div>
  <div class="modal-footer">
    <%= f.submit "Update Contact Info", class: "btn btn-primary float-right" %>
  </div>
<% end %>
