<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-9">
      </div>
      <div class="col-md-3">
        <%= link_to "New Voucher", new_store_front_module_supplier_voucher_amount_path(@supplier), class: "btn btn-primary pull-right" %>
      </div>
    </div>
  </div>
</div>
<% @supplier.vouchers.each do |voucher| %>
  <div class="row">
    <div class="col-md-3">
      <%= link_to voucher.description, store_front_module_supplier_voucher_url(supplier_id: @supplier.id, id: voucher.id) %>
    </div>
  </div>
<% end %>
