
  <% if policy([:members, :loan]).new? %>
    <%= link_to 'New Loan Application', new_loans_module_loan_application_path(borrower_id: @member.id, borrower_type: @member.class.to_s), class: "btn btn-primary" %>
  <% end %>

<small>ACCOUNTS RECEIVABLE (STORE)</small>
  <h3 class="box-title"><%=number_to_currency @member.account_receivable_store_balance %></h3>
  <hr>
  <% @member.loans.each do |loan| %>
    <%= render 'loans/partials/header', loan: loan %>
  <% end %>
</div>
