

  <!-- Profile Image -->
  <div class="box box-solid">
    <div class="box-body box-profile">
    <%= image_tag(member.avatar.url(:thumb), class: "profile-user-img img-responsive img-circle") %>
      
      <h3 class="profile-username text-center"><%= member.first_and_last_name %></h3>
      <% if @member.occupations.present? %>
        <% @member.occupations.each do |occupation| %>
          <center><span class="text-muted text-center"><%= occupation.title %> &nbsp; </span> </center>
        <% end %>
      <% end %>
        <center><%= link_to 'Add Occupation', new_member_occupation_path(@member), class: 'text-muted text-center' %></center>
        <hr>

     

     
      <strong><i class="fa fa-phone margin-r-5"></i> Contact Number</strong>

      <p class="text-muted">
        
      </p>

      <hr>

      <strong><i class="fa fa-map-marker margin-r-5"></i> Address</strong>

      <p class="text-muted"></p>
      <hr>
       <strong><i class="fa fa-book margin-r-5"></i> Education</strong>

      <p class="text-muted"></p>

      <hr>



      <strong><i class="fa fa-file-text margin-r-5"></i> Notes</strong>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->

