<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-6">
        <h4 class="card-title">
          Time Deposits
        </h4>
      </div>
      <div class="col-md-6">
        <% if policy([:members, :time_deposit]).new? %>
          <%= link_to 'New Time Deposit', new_time_deposit_application_path(depositor_id: @member.id, depositor_type: @member.class.to_s), class: 'btn btn-primary'%>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% @member.time_deposits.each do |time_deposit| %>
  <%= render 'time_deposits/partials/header', time_deposit: time_deposit %>
<% end %>
