
<b>Liability Account </b><%= @time_deposit.liability_account.name %>
<hr>
<b>Interest Expense Account </b>
<%= @time_deposit.interest_expense_account.name %>
<hr>
<h4 class='title-up'> Interest Posting </h4>
<span class='text-muted'> Post interests for this time deposit </span><br>
<%= link_to 'Post Interest', new_time_deposit_interest_posting_path(@time_deposit), class: 'btn btn-primary' %>