
<b>Liability Account </b><%= @time_deposit.liability_account.name %>
<hr>
<b>Interest Expense Account </b>
<%= @time_deposit.interest_expense_account.name %>
<hr>
<h4 class='title-up'> Transfer to Savings </h4>
      <%= link_to 'Transfer to Savings', new_time_deposit_transfer_to_saving_path(@time_deposit), class: "btn btn-outline-danger" if !@time_deposit.withdrawn? %>
