<%= link_to 'Sign in', new_user_session_path, class: "btn btn-primary" %>
<h1>Coop Catalyst </h1>
<p> Transform the way you manage your cooperative. Integrate your services in one platform
so that managing your cooperative is simpler, easier, and more transparent.</p>
<%= link_to 'Request for Demo', class: 'btn btn-primary' %>

Features
Loans Management
Members Equities Management
Consumer Services Management
Administrative Tasks
CDA Compliance
Contact Us
