<%= render "home/shared/navbar" %>
<div class="container">
	<br>
	<br>
	<br>
  <div class="landing-header">
  	<div class="row">
  		<div class="col-md-6">
  			<h1 class="text-open-sans-regular">Transform the way you manage your cooperative </h1>
  			<br>
  			<p class="lead"> Coop Catalyst integrates all your operations in one platform so that managing your cooperative is simpler, easier, and more transparent.</p>
  			<%= link_to 'Request for Demo', new_demo_request_path, class: 'btn btn-primary btn-lg' %>
  		</div>
  		<div class="col-md-6">
  		</div>
  	</div>
  </div>
	<hr>
  <br>
  <center>
  <h2 class="text-open-sans-regular">We have the solution to your problems</h2>
  <p class="lead">The old way you manage your cooperative ( pen and paper / Excel spreadsheets / disparate ledgers of branch offices ) is a barrier to your cooperative's growth.
    Keeping track of financial statements, staff performance, client information and their portfolio with manual processes, result to your employees spending too many extra hours in the office to finish month-end reporting and fixing errors on their ledgers.
    Informations on portfolios that can help you make smart and timely decisions are missed because  reports can not be generated instantly.</p>
  </center>
  <br>
  <hr>
  <center>
  <h3 class="text-open-sans-regular">Everything your Cooperative needs </h3>
  <p class="text-lead">CoopCatalyst integrates operations and branch offices in one toolset.
     This eliminate much of the manual, time consuming effort <br> currently required to keep disparate ledgers.
     Accounting entries are recorded and automatically posted without error.<br>
     Duplications, reconciliations are checked and fixed
     CoopCatalyst enable branch offices and employees to collaborate to maintain accurate ledgers.</p>
  </center>
  <br>

    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2">
            <i class="far fa-lightbulb fa-3x"></i>
          </div>
          <div class="col-md-9">
            <h3 class="card-title">Get real-time accounting insights</h3>
            <br>
            <p>
              CoopCatalyst delivers insights into the health of your finances to help you make smart, timely decisions.
               You know exactly where your cooperative is at and where it’s going.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2">
            <i class="far fa-chart-bar fa-3x"></i>
          </div>
          <div class="col-md-9">
            <h3 class="card-title">Access financials wherever you work.</h3>
            <br>
            <p>
              You need real-time visibility and an easy way to talk to your finance team. The inDinero dashboard is the command center for all of your business’s financial activities. Plus, you can use it to easily chat with us.
            </p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2">
            <i class="fa fa-file-alt fa-3x"></i>
          </div>
          <div class="col-md-9">
            <h3 class="card-title">Automated and real-time report generation</h3>
            <br>
            <p>
              Coop Catalyst automates provides those strategic insights, so you know exactly where your cooperative is at and where it’s going.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2">
            <i class="far fa-chart-bar fa-3x"></i>
          </div>
          <div class="col-md-9">
            <h3 class="card-title">Access financials wherever you work.</h3>
            <br>
            <p class="text-open-sans-regular">
              You need real-time visibility and an easy way to talk to your finance team. The inDinero dashboard is the command center for all of your business’s financial activities. Plus, you can use it to easily chat with us.
            </p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2">
            <i class="fa fa-snowflake fa-3x"></i>
          </div>
          <div class="col-md-9">
            <h3 class="card-title">Employee collaboration tools</h3>
            <br>
            <p>
              automates business workflows, and helps you work seamlessly with your inDinero finance team
              Coop Catalyst automates provides those strategic insights, so you know exactly where your cooperative is at and where it’s going.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2">
            <i class="far fa-chart-bar fa-3x"></i>
          </div>
          <div class="col-md-9">
            <h3 class="card-title">Access financials wherever you work.</h3>
            <br>
            <p>
              You need real-time visibility and an easy way to talk to your finance team. The inDinero dashboard is the command center for all of your business’s financial activities. Plus, you can use it to easily chat with us.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

      <div class="landing-mid-section bg-dark">
        <div class="container">
        <br>
        <br>
        <br>
        <div class="row">
          <div class="col-md-9 offset-md-2">
            <h3 class="text-open-sans-regular"> Move your Cooperative Operations to the Cloud. </h3>
            <p class="lead"> Your banks are connected to the Cloud. ATMs and other financial services depend on it to deliver services.
             It's time you move to cloud-based operations and be ahead of other cooperatives.</p>
          </div>
        </div>
      </div>
      </div>
      <br>
      <br>
      <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-2">
              <i class="fa fa-lock fa-3x"></i>
            </div>
            <div class="col-md-9">
              <h3 class="card-title">Reduce Risk of Losing Important Data</h3>
              <br>
              <p>
                CoopCatalyst delivers insights into the health of your finances to help you make smart, timely decisions.
                 You know exactly where your cooperative is at and where it’s going.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-2">
              <i class="fa fa-coins fa-3x"></i>
            </div>
            <div class="col-md-9">
              <h3 class="card-title">Cut back on your IT Costs.</h3>
              <br>
              <p>
                Buying and managing your own IT systems can quickly drain your budget.
                You must pay the direct costs of the hardware and software.
                Then, you pay the indirect costs of operating, maintaining and repairing the system.
                CoopCatalyst gives you access to the software you need, without draining your budget.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-2">
                <i class="fa fa-lock fa-3x"></i>
              </div>
              <div class="col-md-9">
                <h3 class="card-title">Reduce Risk of Losing Important Data</h3>
                <br>
                <p>
                  CoopCatalyst delivers insights into the health of your finances to help you make smart, timely decisions.
                   You know exactly where your cooperative is at and where it’s going.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-2">
                <i class="fa fa-coins fa-3x"></i>
              </div>
              <div class="col-md-9">
                <h3 class="card-title">Cut back on your IT Costs.</h3>
                <br>
                <p>
                  Buying and managing your own IT systems can quickly drain your budget.
                  You must pay the direct costs of the hardware and software.
                  Then, you pay the indirect costs of operating, maintaining and repairing the system.
                  CoopCatalyst gives you access to the software you need, without draining your budget.
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
        <hr>
        <br>
        <br>
        <div class="row">
          <div class="col-md-9">
            <h2 class="text-open-sans-regular">Want to see everything CoopCatalyst does? </h2>
            <p class="text-lead">See for yourself the possibilities that CoopCatalyst enables and how it can simplify work for your employees.</p>
          </div>
          <div class="col-md-3">
            <%= link_to 'Request for Demo', new_demo_request_path, class: 'btn btn-primary btn-lg btn-block' %>
          </div>
        </div>
        <br>
        <br>


      </div>
    </div>

<%= render "home/shared/footer" %>
