<b>ASSETS </b><br>
<% current_cooperative.accounts.assets.each do |account| %>
  <% balance = account.balance(to_date: @to_date) %>
  <% if !balance.zero? %>
    <div class="row">
      <div class="col-md-7">
        <%= account.name %>
      </div>
      <div class="col-md-5">
        <%= number_to_currency balance %>
      </div>
    </div>
  <% end %>
<% end %>
<hr>
<div class="row">
  <div class="col-md-7">
    <b>Total Assets</b>
  </div>
  <div class="col-md-5">
    <b><%= number_to_currency current_cooperative.accounts.assets.balance(to_date: @to_date) %></b>
  </div>
</div>
<hr>
