
<div class="row">
  <div class="col-md-7 offset-md-2">
    <div class="card">
      <div class="card-header">
        <center>
          <%= image_tag(@loan_application.avatar, height: 45, width: 45, class: "img-circle") if @loan_application.avatar.attached? %><br>
          <h3 class="card-title"> <%= @loan_application.borrower_name %> </h3>
        </center>
      </div>
      <div class="card-body">
        <%= render 'loans_module/loan_applications/partials/body', loan_application: @loan_application %>
      </div>
      </div>
      </div>
      </div>
