<div class="card">
  <div class="card-body">
    TOTAL SHARE CAPITALS <h3 class="card-title"><%= number_to_currency current_cooperative.share_capital_products.total_balance %></h3>
    <hr />
  </div>
</div>
