<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="box-header">
      </div>
      <div class="box-body">
        <div class="table table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Store Front</th>
                <th>Invetory</th>
                <th>Expenses</th>
                <th>Revenue</th>
              </tr>
            </thead>
            <tbody>
              <% @store_fronts.each do |store_front| %>
                <tr>
                  <td><%= store_front.name %></td>
                  <td><%= number_to_currency AccountingModule::Asset.balance(commercial_document_id: store_front.id) %></td>

                  <td><%= number_to_currency AccountingModule::Expense.balance(commercial_document_id: store_front.id) %></td>
                  <td><%= number_to_currency AccountingModule::Revenue.balance(commercial_document_id: store_front.id) %></td>

                  <td></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
