 <div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="box-header">
        <h3 class="box-title"> Members Birthdays </h3>
      </div>
      <div class="box-body">
      <%= month_calendar do |date| %>
        <%=link_to calendar_path(date) do %>
          <% Member.has_birth_month_on(month: date.month).has_birth_day_on(birth_day: date.day).each do |member| %>
            <p><%=date.day %></p>
            <%= member.first_name %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
