<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="box-header"> <%=@date %>
      </div>
      <div class="box-body">
        <% @members.each do |member| %>
          <%=member.date_of_birth %>

          <div class="row">
            <div class="col-md-3">
              <center><%=image_tag(member.avatar.url(:medium), class: "img-circle", height: 60, width: 60) %></center>
            </div>
            <div class="col-md-5">
              <b><%= member.full_name %></b>
            </div>
          </div>
          <br>
        <% end %>
      </div>
    </div>
  </div>
</div>