<%= link_to 'View PDF', loans_module_amortization_schedule_date_filters_path(from_date: @from_date, to_date: @to_date, format: 'pdf') %>
<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-9">
    <% @amortization_schedules.each do |schedule| %>
    <%= render 'loans_module/amortization_schedules/partials/header', schedule: schedule %>
    <% end %>
  </div>
</div>
