<div class='container'>
      <div class='card'>
        <div class='card-body'>
          <h3 class='title-up'> Interest on Capital Distributions </h3>
          <%= link_to 'Share Capitals', new_accounting_module_ioc_distributions_share_capital_path, id: "ioc-to-share-capitals" %><br>
          <span class="text-muted"> Create entry for Interest on Capital (IOC) as share capital build ups </span>

          <hr>
          <%= link_to 'Loans', new_accounting_module_ioc_distributions_loan_path, id: "ioc-to-loans" %><br>
          <span class="text-muted"> Create entry for Interest on Capital (IOC) as payment to loans </span>
          <hr>
          <%= link_to 'Savings', new_accounting_module_ioc_distributions_saving_path, id: "ioc-to-savings" %><br>
          <span class="text-muted"> Create entry for Interest on Capital (IOC) as savings deposits </span>

          <hr>
          <%= link_to 'Program Subscriptions', new_accounting_module_ioc_distributions_program_subscription_path %><br>
          <span class="text-muted"> Create entry for Interest on Capital (IOC) as payment to subscriptions </span>

        </div>
      </div>
    </div>
  </div>
</div>
