<div class='container'>
      <div class='card'>
        <div class='card-body'>
          <%= link_to 'Share Capitals', new_accounting_module_ioc_distributions_share_capital_path, id: "ioc-to-share-capitals" %>
          <hr>
          <%= link_to 'Loans', new_accounting_module_ioc_distributions_loan_path, id: "ioc-to-loans" %><br>
          <span class="text-muted"> Create entry for Interest on Capital (IOC) as payment to loans </span>
          <hr>
          <%= link_to 'Savings', new_accounting_module_ioc_distributions_saving_path, id: "ioc-to-savings" %>
          <hr>
          <%= link_to 'Programs', new_accounting_module_ioc_distributions_program_subscription_path %>
        </div>
      </div>
    </div>
  </div>
</div>
