<div class="tab-pane" id="program-subscriptions">
  <% @member.program_subscriptions.each do |program_subscription| %>
 	  <%= program_subscription.name %><br>
 	  <%= number_to_currency program_subscription.contribution %>
 	  <% if program_subscription.paid? %>
 	    <span class="badge bg-green"> Paid </span>
 	  <% else %>
 	     <%= link_to 'Payment', new_teller_department_program_subscription_payment_path(program_subscription) %>
 	  <% end %>
 	  <hr>
  <% end %>
</div>