<li class="header"><hr class="no-margin-top"></li>
<li class="nav-item">
	<a href="/loans_module/monitoring/metrics" class="nav-link <%= 'active' if 
		current_page?(loans_module_monitoring_metrics_path) || 
		current_page?(loans_module_monitoring_disbursements_path) || 
		current_page?(loans_module_monitoring_loan_payments_path) || 
		current_page?(loans_module_monitoring_loan_product_portfolios_path) || 
		current_page?(loans_module_monitoring_loans_per_barangays_path) %>"><i class="nav-icon fa fa-circle"></i><span> Loans Portfolio</span></a>
</li>
<li class="nav-item">
	<a href="/savings_accounts_dashboards" class="nav-link <%= 'active' if current_page?(savings_accounts_dashboards_path) %>"><i class="nav-icon fa fa-circle"></i><span> Savings Portfolio</span></a>
</li>
<li class="nav-item">
	<a href="/share_capitals_section/dashboards" class="nav-link <%= 'active' if current_page?(share_capitals_section_dashboards_path) %>"><i class="nav-icon fa fa-circle"></i><span> Share Capitals Portfolio</span></a>
</li>
<li class="nav-item">
	<a href="/cooperative_services" class="nav-link <%= 'active' if current_page?(cooperative_services_path) %>"><i class="nav-icon fa fa-circle"></i><span> Services Portfolio</span></a>
</li>
