<li class="header"> MONITORING </li>
             <li class="nav-item" <%= 'active' if current_page?(loans_module_monitoring_metrics_path) %> ><a href="/loans_module/monitoring/metrics" class="nav-link"><i class="nav-icon fa fa-circle"></i> <span> Loans Portfolio</span></a></li>
             <li class="nav-item" <%= 'active' if current_page?(savings_accounts_dashboards_path) %> ><a href="/savings_accounts_dashboards" class="nav-link"><i class="nav-icon fa fa-circle"></i> <span> Savings Portfolio</span></a></li>
             <li class="nav-item" <%= 'active' if current_page?(share_capitals_section_dashboards_path) %> ><a href="/share_capitals_section/dashboards" class="nav-link"><i class="nav-icon fa fa-circle"></i> <span> Share Capitals Portfolio</span></a></li>
             <li class="nav-item" <%= 'active' if current_page?(cooperative_services_path) %> ><a href="/cooperative_services" class="nav-link"><i class="nav-icon fa fa-circle"></i> <span> Services Portfolio</span></a></li>
