<div class="card-body no-padding-top no-padding-bottom">
  <p class="alert bg-info">
    <i class="fa fa-info-circle fa-lg text-danger"></i>
    Please review details above before posting. Click "Confirm" to post this journal entry.
  </p>
</div>
<hr class="no-margin">