<%= link_to barangay_path(barangay) do %>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-1">
          <% if barangay.avatar.attached? %>
            <%= image_tag(barangay.avatar, class: "img-circle", height: 40, width: 40) %>
          <% else %>
            <h1 class="fa fa-globe"></h1>
          <% end %>
        </div>
        <div class="col-md-9">
          <b><%= barangay.name %></b><br>
          <small class="text-muted"><i class="fa fa-map-marker"></i> <%= barangay.municipality_name %></small>
        </div>
      </div>
    </div>
  </div>
<% end %>
