
  <div class="col-md-4">
    <div class="box box-solid">
    <div class="box-header">
      <h3 class="box-title"> Statistics </h3>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-md-7">
          Loans
        </div>
        <div class="col-md-5">
          <%= @loans.count %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-7">
          Loans Disbursed
        </div>
        <div class="col-md-5">
          <%= number_to_currency @loans.disbursed.sum(&:loan_amount) %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-7">
          Loans Paid
        </div>
        <div class="col-md-5">
          <%= number_to_currency @loans.payments_total %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-7">
          Loans Receivable
        </div>
        <div class="col-md-5">
          <%= number_to_currency @loans.balance %>
        </div>
      </div>
    </div>


