<div class="card">
  <div class="card-body">
<h3 class="card-title"><%= @members.uniq.count %></h3>
<small>MEMBERS </small>
<h4>Active Members </h4>
<% months = [] %>
<% (DateTime.now.beginning_of_year..DateTime.now).each do |month| %>
  <% months << month.beginning_of_month %>
<% end %>
<% active_members_data = [] %>
<% months.uniq.each do |month| %>
  <% active_members_data << { month.strftime("%B %Y") => @members.updated_at(from_date: DateTime.now.beginning_of_year, to_date: month.end_of_month).uniq.count } %>
<% end %>
<%= line_chart (Hash[*active_members_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?}),messages: {empty: "No data"}, download: true, curve: false, thousands: "," %>
