<div class="card">
	<div class="card-body">
		<div class="row">
			<div class="col-md-6">
			</div>
			<div class="col-md-6">
			<%= link_to "Update Barangay", edit_cooperative_barangay_path(cooperative_id: current_cooperative.id, id: @barangay.id), class: "btn btn-outline-danger float-right" %>
			</div>
		</div>
	</div>
</div>