<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="box-body">
   <h4>Expenses vs. Revenue</h4>
    <% month_dates = [] %>
    <% (Date.today.beginning_of_year..Date.today.end_of_month).each do |date| %>

      <% month_dates << date.end_of_month %>
    <% end %>
    <% revenues_accounts_data = [] %>
    <% month_dates.uniq.each do |month| %>
      <% revenues_accounts_data << { month.strftime("%B") => AccountingModule::Revenue.balance(to_date: month.end_of_month) } %>
    <% end %>
    <% expenses_accounts_data = [] %>
    <% month_dates.uniq.each do |month| %>
      <% expenses_accounts_data << { month.strftime("%B") => AccountingModule::Expense.balance(to_date: month.end_of_month) } %>
    <% end %>

    <%= line_chart [
      {name: "Revenues", data: (Hash[*revenues_accounts_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?}) },
      {name: "Expenses", data: (Hash[*expenses_accounts_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?}) }
    ], curve: false, thousands: "," %>
    <hr>
<h4> Top 10 Expenses </h4>
<% expenses_data = [] %>
<% AccountingModule::Expense.active.all.sort_by(&:balance).reverse.first(10).each do |expense_account| %>
<% expenses_data << { expense_account.name => expense_account.balance } %>
<% end %>
<%= pie_chart (Hash[*expenses_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?}) %>
