<%= link_to new_management_module_settings_loan_product_path do  %>
  <span class="btn btn-danger btn-sm" data-toggle="tooltip" title="New Loan Product"><i class="fa fa-plus-circle"></i> New </span>
<% end %>
