<nav class="navbar navbar-light bg-dark static-top border-bottom">
  <div class="container">

    <a href="/">
    <%=image_tag("coopbooks.png", height: 40, width: 40, class: 'float-left img-circle') %>
  </a>
    <%= link_to 'Sign in', new_user_session_path, class: "btn btn-primary" %>
  </div>
</nav>
