<nav class="navbar navbar-light bg-dark static-top border-bottom">
  <div class="container">

    <a href="/">
    <span class='text-white'>KIPHODAN DIGITAL </span>
  </a>
    <%= link_to 'Sign in', new_user_session_path, class: "btn btn-primary" %>
  </div>
</nav>
