<div class="card">
  <div class="card-body">
    <h3 class="card-title"> Reports </h3>
    <hr class="min-margin">
    <div class="row">
    	<div class="col-md-6">
    		<%= link_to 'Excel', accounting_module_entries_path(format: 'xlsx', from_date: @from_date, to_date: @to_date), class: 'btn btn-default' %>
    	</div>
    	<div class="col-md-6">
    		<%= link_to 'View (PDF)', accounting_module_entries_path(format: 'pdf', from_date: @from_date, to_date: @to_date), class: 'btn btn-default float-right' %>
    	</div>
    </div>
  </div>
</div>