<%= render "home/shared/navbar" %>
<%= render 'layouts/shared/flash_messages' %>


    <div class="container">
      <br>
      <br>
      <br>
      <br>
      

  	<div class="row">
  		<div class="col-md-10 offset-md-1">
      <center>
<h1 class='title-up'><i class='fa fa-quote-left'></i>
Our mission is to empower cooperatives to uplift your members from poverty by providing you a digital banking platform that scales with your growth. <i class='fa fa-quote-right'></i>
</h1>
</center>
<hr>
<h3 class='title-up'><b> Von Christian Halip </b></h3>
<p class='lead'> Software Engineer </p>
