<%= render "home/shared/navbar" %>
<%= render 'layouts/shared/flash_messages' %>


    <div class="container">
      <br>
      <br>
      <br>
      <br>
      

  	<div class="row">
  		<div class="col-md-10 offset-md-1">
      <center>
<h1 class='title-up'><i class='fa fa-quote-left'></i>
Our mission is to empower cooperatives to uplift your members from poverty by providing you a modern banking platform that scales with your growth. <i class='fa fa-quote-right'></i>
</h1>
</center>
<hr>
<h3 class='title-up'> A Team with Financial Industry Experience to Support You </h3>
<p class='lead text-muted'> Passionate in supporting the cooperative movement that currently improves the lives of hundreds of millions of people in the Philippines. </p>
<br>

<h3 class='title-up'><b> Von Christian Halip </b></h3>
<p class='lead'> Software Engineer | vc.halip@gmail.com | 0965-3785-375 </p>
<br>
<h3 class='title-up'><b> Reckelyn Libiado</b></h3>
<p class='lead'> Certified Public Accountant </p>

<h3 class='title-up'><b> Dexter Maugao</b></h3>
<p class='lead'> IT Specialist</p>
<hr>
<br>
<h3 class='title-up'> We support the 7 Principles of Cooperative </h3>
<br>
<div class='row min-margin'>
  <div class='col-md-2'>
    <span class="fa-stack fa-2x text-primary">
                <i class="fas fa-square fa-stack-2x"></i>
                <span class="fa-stack-1x fa-inverse"> 1 </span>
              </span>
  </div>
  <div class='col-md-8'>
    <h4 class='subtitle-up'> Voluntary and Open Membership </h4>
    Cooperatives are voluntary organisations, open to all persons able to use their services and willing to accept the responsibilities of membership, without discrimination. You can join, and leave, at any time.
  </div>
</div>
<br>
<div class='row min-margin'>
  <div class='col-md-2'>
    <span class="fa-stack fa-2x text-primary">
                <i class="fas fa-square fa-stack-2x"></i>
                <span class="fa-stack-1x fa-inverse"> 2 </span>
              </span>
  </div>
  <div class='col-md-8'>
    <h4 class='subtitle-up'> Democratic Owner Control</h4>
    One Member, one vote. Cooperatives are democratic organisations controlled by their members, who actively participate in setting their policies and making decisions. Your voice will be heard.
  </div>
</div>
<br>
<div class='row min-margin'>
  <div class='col-md-2'>
    <span class="fa-stack fa-2x text-primary">
                <i class="fas fa-square fa-stack-2x"></i>
                <span class="fa-stack-1x fa-inverse"> 3 </span>
              </span>
  </div>
  <div class='col-md-8'>
    <h4 class='subtitle-up'>  Voluntary, Open Ownership</h4>
    


Cooperatives are voluntary organisations, open to all persons able to use their services and willing to accept the responsibilities of membership, without discrimination. You can join, and leave, at any time.

  </div>
</div>
<br>
<div class='row min-margin'>
  <div class='col-md-2'>
    <span class="fa-stack fa-2x text-primary">
                <i class="fas fa-square fa-stack-2x"></i>
                <span class="fa-stack-1x fa-inverse"> 4 </span>
              </span>
  </div>
  <div class='col-md-8'>
    <h4 class='subtitle-up'> Autonomy And Independence</h4>
    





Cooperatives are autonomous, self-help organizations controlled by their Members. You decide what happens within your organization.

  </div>
</div>
<br>
<div class='row min-margin'>
  <div class='col-md-2'>
    <span class="fa-stack fa-2x text-primary">
                <i class="fas fa-square fa-stack-2x"></i>
                <span class="fa-stack-1x fa-inverse"> 5 </span>
              </span>
  </div>
  <div class='col-md-8'>
    <h4 class='subtitle-up'> Education, Training And Information</h4>



Cooperatives provide education and training for Members so they can contribute effectively to the development of their cooperatives. They also inform the general public about the nature and benefits of cooperation.

  </div>
</div>

<br>
<div class='row min-margin'>
  <div class='col-md-2'>
    <span class="fa-stack fa-2x text-primary">
                <i class="fas fa-square fa-stack-2x"></i>
                <span class="fa-stack-1x fa-inverse"> 6 </span>
              </span>
  </div>
  <div class='col-md-8'>
    <h4 class='subtitle-up'> Cooperatives among cooperatives</h4>
Cooperatives serve their Members most effectively and strengthen the cooperative movement by working together through local, regional, national and international structures. You are more successful when you cooperate with others who know how to cooperate.
  </div>
</div>

<br>
<div class='row min-margin'>
  <div class='col-md-2'>
    <span class="fa-stack fa-2x text-primary">
                <i class="fas fa-square fa-stack-2x"></i>
                <span class="fa-stack-1x fa-inverse"> 7 </span>
              </span>
  </div>
  <div class='col-md-8'>
    <h4 class='subtitle-up'>Concern For The Community</h4>



While focusing on Members’ needs, cooperatives work for the sustainable development of their communities through policies accepted by their Members. You can do something for the community even as you keep succeeding.

  </div>
</div>

<%= render "home/shared/footer" %>
