<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="box-header">
      </div>
      <div class="box-body">
        <%=link_to 'PDF', cooperative_products_path(format: 'pdf') %>
        <div class="table table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Product Name</th>
                <th># of Subscribers</th>
                <th>Outstanding Balance</th>
              </tr>
            </thead>
            <tbody>
              <% @saving_products.each do |saving_product| %>
                <tr>
                  <td><%= saving_product.name %></td>
                  <td><%= saving_product.subscribers.count %> Accounts </td>
                  <td><%= number_to_currency saving_product.balance %></td>
                  <td></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
