<%= link_to cooperative_service_path(cooperative_service) do %>
  <div class="card">
    <div class="card-body">
      <h3 class="card-title"> <%= cooperative_service.title %></h3>
    </div>
  </div>
<% end %>
