.landing-header {
  height: 670px;
}
.landing-mid-section {
  height: 300px;
}
.landing-footer-section {
  height: 400px;
}
.bg-gray-dark {
  background-color: #010e28;
}
.bg-light-green {
background-color: #eaf9ec;
}
