.loan_amount { 
  font-family: 'roboto-condensed-webfont', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 28px;
}
.condensed-text {
  font-family: 'roboto-condensed-webfont', Arial, sans-serif;
}