<div class="row">
  <div class="col-md-2 col-sm-2">
    <%= image_tag(savings_account.avatar, width: 45, height: 45, class: "img-circle") if savings_account.avatar.attached? %>
  </div>
  <div class="col-md-10 col-sm-10">
    <h3 class="card-title no-margin-bottom"> <%= savings_account.depositor_name %> </h3>
    <small class="text-muted">
      Depositor
    </small>
  </div>
</div>