<h3 class="title-up"><%= number_to_currency @saving.balance %></h3>
<%= link_to "Deposit", new_banking_agent_module_saving_deposit_path(@saving) %>
<%= link_to "Withdraw", new_banking_agent_module_saving_withdrawal_path(@saving) %>
