<div class="tab-pane <%= 'active' if current_page? store_front_module_inventory_sales_path(@line_item) %>">
  <div class="table table-responsive">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Customer</th>
          <th>Qty</th>
        </tr>
      </thead>
      <tbody>
        <% @sales.each do |line_item| %>
          <tr>
            <td><%= line_item.sales_order.try(:date).try(:strftime, "%B %e, %Y") %></td>
            <td><%= line_item.customer_name %></td>
            <td><%= line_item.quantity %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
