<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <small> CASH ON HAND (TREASURY)</small>
      <%= AccountingModule::Account.find_by(name: "Cash on Hand (Treasury)").balance %>
    </div>
  </div>
</div>