<div class="card">
  <div class="card-body">
    <h3 class="title-up"> Accounting Section </h3>
    <hr>
    <h4 class="subtitle-up"> Accounting Accounts </h4>
    <span class="text-muted"> Accounting accounts associated with this share capital. </span>
    <b> Equity Account </b>

    <%= @share_capital.share_capital_equity_account_name %>
    <hr>
    <h4 class="subtitle-up">Balance Transfer </h4>
    <span class="text-muted"> Transfer balance to other share capital accounts. </span>
    <%= link_to 'New Balance Transfer', new_share_capital_balance_transfer_path(@share_capital), class: 'btn btn-danger' %>
  <hr />
  </div>
</div>
