<% breadcrumb :share_capital_details, @share_capital %>
<div class="card-body">
  <div class="row">
    <div class="col-md-6">
      <hr class="min-margin set-visibility">
      <div class="row justify-content-end">
        <div class="col-md-7 col-sm-6 col-auto">
          <small>PAID UP BALANCE</small>
          <h2 class="number"><%= number_to_currency @share_capital.balance %></h2>
        </div>
        <div class="col-md-4 col-sm-6 col-auto">
          <small>INACTIVITY</small>
          <h4 class="card-title"><%= @share_capital.number_of_days_inactive %> Days</h4>
          <br>
          <small>Last Transaction Date</small><br>
          <i class="fa fa-calendar"></i> &nbsp; <%= @share_capital.default_last_transaction_date.strftime("%b %e, %Y") %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <%= link_to 'Statement of Account', share_capital_path(@share_capital, format: 'pdf') %>
    </div>
  </div>
</div>
