<div class="modal fade" id="mainModal" role="dialog" aria-labelledby="mainModalLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= yield %>
    </div>
  </div>
</div>
<%= render 'layouts/shared/select2' %>