<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-1">
        <%= image_tag(organization.avatar, class: "img-circle", height: 60 ,width: 60) %>
      </div>
      <div class="col-md-11">
        <b><%= link_to organization.name, organization_path(organization) %></b><br>
        <span class="badge bg-primary">
          <%= organization.members.uniq.count %> Members 
        </span>
      </div>
    </div>
  </div>
</div>
