<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">
        <h6 class="text-muted">Organization Name:</h6>
      </div>
      <div class="col-md-8">
        <h6><%= @organization.name %></h6>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <h6 class="text-muted">Abbreviated Name:</h6>
      </div>
      <div class="col-md-8">
        <h6><%= @organization.abbreviated_name %></h6>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <h6 class="text-muted">Address:</h6>
      </div>
      <div class="col-md-8">
        <h6><%= @organization.current_address.complete_address %></h6>
      </div>
    </div>
  </div>
</div>