<div class="tab-pane <%= 'active' if current_page?(organization_loans_path(@organization)) %>">
  Loans of Members
  <hr>
  <%=link_to 'Billing Statement', organization_loans_path(@organization, format: 'pdf') %>
  <% @loans.each do |loan| %>
  <%= loan.borrower_name %>
<% end %>
</div>
