<div class="tab-pane <%= 'active' if current_page?(hr_module_employee_payrolls_path(@employee)) %>">
  Payroll
  <%= link_to "New Payroll", new_employee_voucher_path(@employee), class: "btn btn-primary" %>

</div>